<article>
	<header>
		<h1>Title</h1>
	</header>
	<div class="text">
		Далеко-далеко за словесными горами, в стране гласных и согласных живут
		рыбные тексты. Большого великий предупреждал деревни снова которой
		использовало, знаках дал толку запятой текстами проектах ему переулка если
		единственное ipsum переписали гор! Но залетают, деревни текстов оксмокс
		своих до на берегу сбить вдали, повстречался продолжил там, они имеет от
		всех рекламных даль вопрос он!
	</div>
	<div class="info">
		<strong>author</strong>
		<time>12.09.2020</time>
	</div>
	<footer>
		<button
			tuiButton
			type="button"
			appearance="primary"
			size="m"
			class="go-to-post-btn"
			[routerLink]="['/']"
		>
			Go home
		</button>
	</footer>
</article>
